<app-navbar></app-navbar>

<main class="row">
<section class="main container-fluid">
  <div class="row d-lg-inline-flex flex-nowrap w-100">
    <div class="col-12 col-md-6">
      <img class="w-100" src="/assets/userprofiles/{{userid}}.jpg" alt="">
      <app-upload></app-upload>
    </div>
    <div class="col-md-6 col-12 row flex-wrap justify-content-around m-1">
      <div class="row gallery">
        <div class="col-4">
          <img class="img-fluid" src="/assets/userprofiles/{{userid}}.jpg" alt="">
        </div>
        <div class="col-4">
          <img class="img-fluid" src="/assets/userprofiles/{{userid}}.jpg" alt="">
        </div>
        <div class="col-4">
          <img class="img-fluid" src="/assets/userprofiles/{{userid}}.jpg" alt="">
        </div>
        <div class="col-4">
          <img class="img-fluid" src="/assets/userprofiles/{{userid}}.jpg" alt="">
        </div>
        <div class="col-4">
          <img class="img-fluid" src="/assets/userprofiles/{{userid}}.jpg" alt="">
        </div>
        <div class="col-4">
          <img class="img-fluid" src="/assets/userprofiles/{{userid}}.jpg" alt="">
        </div>

      </div>
      <div class="col-12 p-0">
        <h5 class="font-weight-bold align-content-start">About</h5>
        <p>
          {{intro}}
        </p>
      </div>
    </div>
  </div>
  <div class="col-4 p-0">
    <h5 class="font-weight-bolder align-content-start p-2">{{username}}, {{age}}</h5>
    <h6>{{area}}</h6>
  </div>

</section>

<app-preferences></app-preferences>
</main>
