<p>{{ message.data }}</p>

<div class="container-fluid" *ngFor="let item of messages " [ngClass]="(item.from==name)?'text-right':'text-left'">
   <p>{{ item.body }}</p>
</div>

 <form class="form-group d-flex" id="loginform" (submit)="sendChat()">
      <label for="inputChat"></label>
      <input type="text" class="form-control " id="inputChat" placeholder="Chat" required [(ngModel)]="inputChat"
        name="inputChat">
      <input class="" type="submit" id="submitButton" value="Send">
</form>
