<div class="container-fluid">
  <div class="row">
    <app-navbar class="col-12"></app-navbar>
    <section class="col-12 col-lg-9">
      <div class="main profile">
          <div *ngIf="loaded" class="">
          <div class="row">
          <div class="col-4">
            <div *ngFor="let item of matchesArray" (click)="newData(item['UserId'],item['name'])">
              <div class="row user-info">
                <div class="col-3 pr-0">
                  <img src='/assets/userprofiles/{{item["UserId"]}}.jpg' onerror="this.src='/assets/default.png';" class="img-fluid" />
                </div>
                <div class="col-9">
                  <h5>{{ item["name"]}}, {{ item["birthday"] | dateAge }}</h5>
                  <p class="icon-area">{{ item["area"] }}</p>
                  <button class="dislike--small" (click)="deleteMatch(item['UserId'])"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8">
            <app-chat *ngIf="noMatch==false"></app-chat>
          </div>

          </div>
        </div>
        <p *ngIf="noMatch">Geen matches</p>
        <div *ngIf="loaded == false" class="loader"></div>
      </div>
    </section>
    <section class="prime col-12 col-lg-3"></section>
  </div>
</div>

<app-footer></app-footer>
