/* You can add global styles to this file, and also import other style files */


body{
   background:url("assets/backgroundMobile.jpg") no-repeat fixed;
   background-size:cover;
    height:100vh;
    margin:0px;
    padding:0px;
}

.like, .dislike{
    border: 0;
    padding:0;
    background: #fff url(/assets/img/button_like.png);
    width: 36px;
    height: 36px;
}
.dislike{
    background: #fff url(/assets/img/button_dislike.png);
}

@media only screen and (min-width: 768px) {
body{
    background:url("assets/backgroundDesktop.jpg") no-repeat fixed;
    background-size:cover;
    & .main{
        background: #fff;
        border-radius: 30px;
        padding: 30px
    }
}
  
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
