/* You can add global styles to this file, and also import other style files */
:root{
    --pri: #e5446d;
    --sec: #64abc1;
    --bg: #fff;
    --head: #595959;
    --body: #8a8a8a;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


/* base */@at-root

*{
    font-family: 'Myriad', 'Myriad Pro', sans-serif;
    color: var(--body);
    font-size: 10px;
    line-height: 15px;
}

body{
    background:url("assets/backgroundMobile.jpg") no-repeat fixed;
    background-size:cover;
     height:100vh;
     margin:0px;
     padding:0px;
     & .main{
         background: #fff;
         border-radius: 30px;
         padding: 30px;
     }
 }
 
 .container-fluid{
     max-width: 1170px;
 }
 
 h1, h2,h3,h4,h5,h6{
     color: var(--head);
     font-size: 3em;
 }
 h5{
     font-size: 1.6em;
 }
 p{
    font-size: 1.4em;
 }

.button--white, .button--red{
    background: var(--bg);
    height: 40px;
    border: 0;
    border-radius: 40px;
    &:hover{
        background: var(--pri);
    }

    &.last{
        margin: 0 0 0 20px;
    }
    
    & a{
        font-size: 1.6em;
        line-height: 40px;
        padding: 12px 35px;
        color: var(--pri);
        &:hover{
            color: var(--bg);
            text-decoration: none;
        }
    }
}

.button--red{
    background: var(--pri);
        &:hover{
            background: var(--bg);
        }

    & a{
        color: var(--bg);
        &:hover{
            color: var(--pri);
            text-decoration: none;
        }
    } 
}

.like, .dislike{
    border: 0;
    padding:0;
    background:url(/assets/img/button_like.png);
    width: 36px;
    height: 36px;
}
.dislike{
    background: url(/assets/img/button_dislike.png);

    &--small{
        background: url(/assets/img/button_dislike.png);
        background-size: 100%;
        width: 15px;
        height: 15px;
        border: 0;
    }
}
.icon-area{
    background: url(/assets/img/button_area.png) no-repeat;
    display: inline-block;
    width: 10px;
    height: 15px;
    margin: 0 5px 0 0;

}

@media only screen and (min-width: 768px) {

    body{
        background:url("assets/backgroundDesktop.jpg") no-repeat fixed;
        background-size:cover;
    }  
}

