
input{
  margin: 0 0 10px;
  border-radius: 20px;
  margin-top: 5px;
  line-height: 38px;
  &:focus ring{
    color: #e5446d;
  }
}

#submitme{
  margin: 10px 0 0;
}
#loginform{
  margin-top: 20%;

}

select{
  border-radius: 20px;
  margin-bottom: 10px;
}
