:root{
  --pri: #e5446d;
  --sec: #64abc1;
  --bg: #fff;
  --head: #595959;
  --body: #8a8a8a;
}


.main input, select, option{
  color: var(--pri);
}

.custom-control-input{
  background: var(--pri);
}

.custom-checkbox{

}

.custom-control{

}

.button--white, .button--red{
  background: var(--bg);
  height: 40px;
  border: 0;
  border-radius: 40px;
  &:hover{
    background: var(--pri);
  }

  &.last{
    margin: 0 0 0 20px;
  }

  & a{
    font-size: 1.6em;
    line-height: 40px;
    padding: 12px 35px;
    color: var(--pri);
    &:hover{
      color: var(--bg);
      text-decoration: none;
    }
  }
}

.button--red{
  background: var(--pri);
  &:hover{
    background: var(--bg);
  }

  & a{
    color: var(--bg);
    &:hover{
      color: var(--pri);
      text-decoration: none;
    }
  }
}





