<div class="back">
  <a href=""></a>
</div>
<form class="form-group container-fluid" (submit)="update(myForm)" #myForm="ngForm">
  <section class="main container-fluid">
    <div class="d-flex row-8">
      <label class="col-5 p-2">My name is</label>
      <input type="text" class="form-control border-0 container-fluid" required [(ngModel)]="username" name="username">
    </div>
    <div class="d-flex row-8">
      <label class="col-5 p-2">I am a</label>
      <select name="sex" id="sex" class="form-control border-0 container-fluid" [(ngModel)]="sex">
        <option value="m">male</option>
        <option value="f">female</option>
        <option value="o">other</option>
      </select>
    </div>

    <div class="d-flex row-8">
      <label class="col-5 p-2">Living in</label>
      <select name="area" class="form-control border-0 container-fluid" id="area" [(ngModel)]="area">
        <option value="Limburg">Limburg</option>
        <option value="Vlaams-Brabant">Vlaams-Brabant</option>
        <option value="Henegouwen">Henegouwen</option>
        <option value="Limburg">Limburg</option>
        <option value="Luik">Luik</option>
        <option value="Luxemburg">Luxemburg</option>
        <option value="Namen">Namen</option>
        <option value="Oost-Vlaanderen">Oost-Vlaanderen</option>
        <option value="Namen">Namen</option>
      </select>
    </div>

    <div class="d-flex row-12">
      <label class="col-5 p-2">Born on</label>
      <input type="date" name="date" class="form-control border-0 container-fluid" [(ngModel)]="age">
    </div>

    <label class="p-2">In search of</label>
    <div class="d-flex row justify-content-around container-fluid">
      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="pref1" name="pref1" value="Male"
               [(ngModel)]="checkboxFlag1">
        <label for="pref1" class="custom-control-label">Men</label>
      </div>
      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="pref2" name="pref2" value="Female"
               [(ngModel)]="checkboxFlag2">
        <label for="pref2" class="custom-control-label">Women</label>
      </div>
      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="pref3" name="pref3" value="Other"
               [(ngModel)]="checkboxFlag3">
        <label for="pref3" class="custom-control-label">Other</label>
      </div>
    </div>

    <label class="p-2">Between the ages of</label>
    <div class="d-flex row-12 justify-content-center">
      <input type="input" class="form-control border-0 w-25 age" required [(ngModel)]="minage" name="minage">
      <label class="col-1 p-2 pr-5">and</label>
      <input type="input" class="form-control border-0 w-25 age" required [(ngModel)]="maxage" name="maxage">
    </div>

    <div>
      <label>Introduction</label>
      <textarea class="form-control overflow-hidden" rows="5" required [(ngModel)]="intro" name="intro"></textarea>
    </div>
  </section>

  <!--    <img [src]=source (error)="defaultimg()">-->
  <div class="col-12 justify-content-center p-3">
    <div class="p-1">
      <input class="button--red col-12" type="submit"
             value="upDate Me Baby!">
    </div>

    <div class="p-1">
      <input class="button--white col-12" type="submit" href="javascript:void(0);" (click)="deleteProfile();"
             value="Delete me Baby!">
    </div>
  </div>

</form>


