<div class="container-fluid">
  <div class="row">
<app-navbar class="col-12"></app-navbar>
    <div class="col-12 col-md-6 offset-md-6">
      <form
        class="form-group"
        id="loginform"
        (submit)="checkLogin()"
      >
        <input
          type="text"
          class="form-control"
          id="userSign"
          placeholder="Email"
          required
          [(ngModel)]="userSign"
          name="userSign"
        />
        <p class="" [hidden]="hide">Wrong username</p>
        <input
          type="password"
          placeholder="pasword"
          class="form-control"
          id="passSing"
          required
          [(ngModel)]="passSign"
          name="passSign"
        />
        <p class="" [hidden]="hide2">Wrong password</p>
        <input class="" type="submit" class="button--red w-100" value="submit" />
      </form>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-offset-md-6">
      <app-footer></app-footer>
    </div>
  </div>
</div>
