.image-upload{
    position: absolute;
    bottom: 10px;
    left: 30px;

    &-new{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 15px;
        
        & img{
            border-radius: 15px;
            width: 100%;
            aspect-ratio: .85;
            object-fit: cover;
            object-position: top center;
            margin: 0;
            background:var(--bg);
        }
    }

    & input{
        display: none;

        &:invalid ~ label, :invalid ~ input{
            display: none;
        }
    }

    & .image-upload--upload, .image-upload--reset, .image-upload--submit{
        margin: 0 5px 0 0;
        padding: 0;
        display: inline-block;
        cursor: pointer;
        width: 32px;
        height: 32px;
        background: url(../../assets/img/button-refresh.png);

        &:hover{
            background: url(../../assets/img/button-refresh--hover.png);
        }
    }
        & .image-upload--submit{
                border: none;
                background: url(../../assets/img/button-upload.png);
        
                &:hover{
                    background: url(../../assets/img/button-upload--hover.png);
                }
            } 

    & .image-upload--reset{
        background: url(../../assets/img/button-cancel.png);

        &:hover{
            background: url(../../assets/img/button-cancel--hover.png);
        }
    }
}